{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'about-page.title' |trans}}</h1></center>

<div class="container intro mt-4">
    <p>{{'about-page.description-01'|trans}}<br>
    <a href="pascal"> {{'pascal-page.title' |trans}}</a></p>
    <p>{{'about-page.description-02'|trans}}</br>
     <a href="workorganizer"> {{'workorganizer-page.title' |trans}}</a></p>
    <p>{{'about-page.description-03'|trans}}</p>
    <p>{{'about-page.description-04'|trans}}</p>
</div>

{% endblock %}
