{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'about-page.title' |trans}}</h1></center>

<div class="container intro mt-4">
    <p>{{'about-page.description-01'|trans}}<br>
    <a href="{{ path('pascal_index')}}"> {{'pascal-page.title' |trans}}</a></p>
    <p>{{'about-page.description-02'|trans}}</br>
    <a href="{{ path('workorganizer_index')}}"> {{'workorganizer-page.title' |trans}}</a></p>
    <p>{{'about-page.description-03'|trans}}</br>
    <a href="{{ path('wolontariat_index')}}"> {{'wolontariat-page.title' |trans}}</a></p>
    <p>{{'about-page.description-04'|trans}}</br>
    <a href="{{ path('workcontroll_index')}}"> {{'workcontroll-page.title' |trans}}</a></p>
</div>


{% endblock %}
