{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'about-me-title' |trans}}</h1></center>

<div class="container intro mt-4">
    <p>{{'about-me-01'|trans}}
    <a href="pascal"> {{'project-01.title' |trans}}</a></p>
    <p>{{'about-me-02'|trans}}</p>
    <p>{{'about-me-03'|trans}}</p>
    <p>{{'about-me-04'|trans}}</p>
</div>

{% endblock %}
