{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'about-page.title' |trans}}</h1></center>

<div class="container intro mt-4">
    <p>{{'about-page.description-01'|trans}}<br>
    <a href="{{ path('home-heating_index')}}"> {{'home-heating-page.title' |trans}}</a></p>
    <p>{{'about-page.description-02'|trans}}</br>
    <a href="{{ path('organizer-of-the-work_index')}}"> {{'organizer-of-the-work-page.title' |trans}}</a></p>
    <p>{{'about-page.description-03'|trans}}</br>
    <a class="off" href="{{ path('volunteer-association_index')}}"> {{'volunteer-association-page.title' |trans}}</a></p>
    <p>{{'about-page.description-04'|trans}}</br>
    <a class="off" href="{{ path('monitoring-whe-watchmans-work_index')}}"> {{'monitoring-whe-watchmans-work-page.title' |trans}}</a></p>
</div>


{% endblock %}
