{% extends "base.html.twig" %}

{% block body %}

<center><h1>Marek Bartocha</h1></center>

<div class="container intro mt-4">
    <p>{{'home-page.intro'|trans}}</p>
</div>
    <div class="row">
        <div class="col-12 col-lg-6 col-xxl-4 text-center">
            <a href="{{ path('home-heating_index')}}">
            <img src="{{ asset('img/home-heating/2.png') }}" class="img-fluid rounded-lg home-img" alt="Obrazek">
            <p class="text-gray-700 font-bold py-0 text-center">
                <span class="title"><b>{{'home-heating-page.title' |trans}}</b></span><br>
                {{'home-page.technologies' |trans}}<br>
                {{projects.homeheating.using}}<br>
                {{'home-heating-page.start-coding' |trans}} 
            </p>   
            </a>
        </div>
 
        <div class="col-12 col-lg-6 col-xxl-4 text-center">
            <a href="{{ path('organizer-of-the-work_index')}}">
            <img src="{{ asset('img/organizer-of-the-work/1-home.png') }}" class="img-fluid rounded-lg home-img" alt="Obrazek">
            <p class="text-gray-700 font-bold py-0 text-center">
                <span class="title"><b>{{'organizer-of-the-work-page.title' |trans}}</b></span><br>
                {{'home-page.technologies' |trans}}<br>
                {{projects.organizerofthework.using}}<br>
                {{'organizer-of-the-work-page.start-coding' |trans}}
            </p>   
            </a>
        </div>

        <div class="col-12 col-lg-12 col-xxl-4 text-center">
            <a href="{{ path('volunteer-association_index')}}">
            <img src="{{ asset('img/volunteer-association/1.png') }}" class="img-fluid rounded-lg home-img" alt="Obrazek">
            <p class="text-gray-700 font-bold py-0 text-center">
                <span class="title"><b>{{'volunteer-association-page.title' |trans}}</b></span><br>
                {{'home-page.technologies' |trans}}<br>
                {{projects.volunteerassociation.using}}<br>
                {{'volunteer-association-page.start-coding' |trans}}
            </p>   
            </a><br><br>
        </div>

        <div class="col-12 col-lg-6 col-xxl-6 text-center">
            <p class="text-gray-700 font-bold py-0 text-center"> 
                <a class="off" href="{{ path('monitoring-whe-watchmans-work_index')}}">
                <span class="title"><b>{{'monitoring-whe-watchmans-work-page.title' |trans}}</b></span><br>
                {{'home-page.technologies' |trans}}<br>
                {{projects.monitoringwhewatchmanswork.using}}<br>
                {{'monitoring-whe-watchmans-work-page.start-coding' |trans}}
                <br><span style="color: #00ffe7;">{{'not-redy'|trans}}</span>
                </a><br><br>
            </p>   
        </div>

       <div class="col-12 col-lg-6 col-xxl-6 text-center">
            <p class="text-gray-700 font-bold py-0 text-center">
                <a href="{{ path('information-about-this-site_index')}}">
                <span class="title"><b>{{'information-about-this-site-page.title' |trans}}</b></span><br>
                {{'home-page.technologies' |trans}}<br>
                {{projects.informationaboutthissite.using}}<br>
                {{'information-about-this-site-page.start-coding' |trans}}
                </a>
            </p>   
        </div>
    </div>


{% endblock %}