{% extends "base.html.twig" %}

{% block body %}

<center><h1>Marek Bartocha</h1></center>

<div class="container intro mt-4">
    <h4>{{'intro'|trans}}</h4>
</div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <a href="{{ path('pascal_index')}}">
            <img src="{{ asset('img/p1-01.png') }}" class="img-fluid rounded-lg" alt="Obrazek">
            </a>
            <h5 class="text-gray-700 font-bold py-2 text-center">
                   {{'project-01.title' |trans}}
            </h5>   
            <b><p class="text-center" >{{projects.project1.using}}</p></b>
            <p class="text-center" >{{'project-01.start-coding' |trans}}</p>
        </div>
    </div>


{% endblock %}