{% extends "base.html.twig" %}

{% block body %}

<center><h1>Marek Bartocha</h1></center>

<div class="container intro mt-4">
    <p>{{'home-page.intro'|trans}}</p>
</div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <a href="{{ path('pascal_index')}}">
            <img src="{{ asset('img/p1-01.png') }}" class="img-fluid rounded-lg" alt="Obrazek">
            </a>
            <p class="text-gray-700 font-bold py-0 text-center">
                {{'pascal-page.title' |trans}}<br>
                {{projects.project1.using}}<br>
                {{'pascal-page.start-coding' |trans}}
            </p>   
        </div>
    </div>


{% endblock %}