{% extends "base.html.twig" %}

{% block body %}
<div style="text-align: right;">
    <a href="{{ path('home_index', {'_locale': 'en'}) }}">English</a> | 
    <a href="{{ path('home_index', {'_locale': 'pl'}) }}">Polski</a>
</div>
<center><h1>Marek Bartocha</h1></center>
<center><p>{{'programer'|trans }}</p></center>
<p>{{'intro'|trans}}</p>


<a href="{{ path('pascal_index')}}">Pascal</a>
{% endblock %}