{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'organizer-of-the-work-page.title' |trans}}</h1></center>

<center><h3>{{'not-finisch'|trans}}</h3></center>

{# <div class="row">
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/13/1"><img src="{{ asset('img/organizer-of-the-work/1.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-1'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-01'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-02'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/13/2"><img src="{{ asset('img/organizer-of-the-work/2.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-2'|trans}}</center>
    </div>
   
</div> #}
{% endblock %}
