{% extends "base.html.twig" %}

{% block body %}
<center><h1>{{'pascal-page.title' |trans}}</h1></center>

<div class="row">

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="{{ asset('img/p1-01.png') }}"><img src="{{ asset('img/p1-01.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-01'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'pascal-page.description-01'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto mt-4">
        <p>{{'pascal-page.description-02'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="{{ asset('img/p1-06.png') }}"><img src="{{ asset('img/p1-06.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-06'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <img src="{{ asset('img/p1-02.png') }}"  alt="Obrazek">
        <center>{{'pascal-page.img-02'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto ">
        <p>{{'pascal-page.description-02'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="{{ asset('img/p1-05.png') }}"><img src="{{ asset('img/p1-05.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-05'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="{{ asset('img/p1-07.png') }}"><img src="{{ asset('img/p1-07.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-07'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="{{ asset('img/p1-04.png') }}"><img src="{{ asset('img/p1-04.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-04'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="{{ asset('img/p1-03.png') }}"><img src="{{ asset('img/p1-03.png') }}"  alt="Obrazek"></a>
        <center>{{'pascal-page.img-03'|trans}}</center>
    </div>
   

    <div class="col-lg-12 m-auto text-center">
    <a href="https://github.com/161OS256/Program-do-sterowania-ogrzewaniem-domu" target="blank">{{'pascal-page.repo'|trans}}</a>
    </div>
</div>

        <div id="moreText" class="row hidden">

            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="{{ asset('img/p1-09.png') }}"><img src="{{ asset('img/p1-09.png') }}"  alt="Obrazek"></a>
                <center>{{'pascal-page.img-09'|trans}}</center>
            </div>
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="{{ asset('img/p1-10.png') }}"><img src="{{ asset('img/p1-10.png') }}"  alt="Obrazek"></a>
                <center>{{'pascal-page.img-10'|trans}}</center>
            </div>
        
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="{{ asset('img/p1-11.png') }}"><img src="{{ asset('img/p1-11.png') }}"  alt="Obrazek"></a>
                <center>{{'pascal-page.img-11'|trans}}</center>
            </div>
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="{{ asset('img/p1-12.png') }}"><img src="{{ asset('img/p1-12.png') }}"  alt="Obrazek"></a>
                <center>{{'pascal-page.img-12'|trans}}</center>
            </div>

            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="{{ asset('img/p1-08.png') }}"><img src="{{ asset('img/p1-08.png') }}"  alt="Obrazek"></a>
                <center>{{'pascal-page.img-08'|trans}}</center>
            </div>
        </div>
   
    <center><h3>{{'pascal-page.technical'|trans}}</h3></center>
    <center><a href="#" id="readMore" class="read-more">{{'home-page.more'|trans}}</a></center>



  
  
{% endblock %}