{% extends "base.html.twig" %}

{% block body %}
<center><h1>{{'p1-page.title' |trans}}</h1></center>

<div class="row">

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/p1/7/1"><img src="{{ asset('img/p1/1.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-1'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'p1-page.description-01'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto mt-4">
        <p>{{'p1-page.description-02'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/p1/7/2"><img src="{{ asset('img/p1/2.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-2'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/p1/7/3"><img src="{{ asset('img/p1/3.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-3'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto ">
        <p>{{'p1-page.description-02'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="slider/p1/7/4"><img src="{{ asset('img/p1/4.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-4'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="slider/p1/7/5"><img src="{{ asset('img/p1/5.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-5'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="slider/p1/7/6"><img src="{{ asset('img/p1/6.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-6'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-6 m-auto text-center">
        <a href="slider/p1/7/7"><img src="{{ asset('img/p1/7.png') }}"  alt="Obrazek"></a>
        <center>{{'p1-page.p1-7'|trans}}</center>
    </div>
   

    <div class="col-lg-12 m-auto text-center">
    <a href="https://github.com/161OS256/Program-do-sterowania-ogrzewaniem-domu" target="blank">{{'p1-page.repo'|trans}}</a>
    </div>
</div>
        <div id="moreText" class="row hidden">

            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="slider/p1a/5/1"><img src="{{ asset('img/p1a/1.png') }}"  alt="Obrazek"></a>
                <center>{{'p1-page.p1a-1'|trans}}</center>
            </div>
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="slider/p1a/5/2"><img src="{{ asset('img/p1a/2.png') }}"  alt="Obrazek"></a>
                <center>{{'p1-page.p1a-2'|trans}}</center>
            </div>
        
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="slider/p1a/5/3"><img src="{{ asset('img/p1a/3.png') }}"  alt="Obrazek"></a>
                <center>{{'p1-page.p1a-3'|trans}}</center>
            </div>
            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="slider/p1a/5/4"><img src="{{ asset('img/p1a/4.png') }}"  alt="Obrazek"></a>
                <center>{{'p1-page.p1a-4'|trans}}</center>
            </div>

            <div class="col-lg-12 col-xl-6 m-auto text-center">
                <a href="slider/p1a/5/5"><img src="{{ asset('img/p1a/5.png') }}"  alt="Obrazek"></a>
                <center>{{'p1-page.p1a-5'|trans}}</center>
            </div>
        </div>
   
    <center><h3>{{'p1-page.technical'|trans}}</h3></center>
    <center><a href="#" id="readMore" class="read-more">{{'home-page.more'|trans}}</a></center>

{% endblock %}